
body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 100;
  display: flex;
  overflow: hidden;
} 
input {
  ::-webkit-input-placeholder- {
     color: rgba(255,255,255,0.7);
  }
  ::-moz-placeholder- {
     color: rgba(255,255,255,0.7);  
  }
  :-ms-input-placeholder- {  
     color: rgba(255,255,255,0.7);  
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
     color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder- {
       color: rgba(0,0,0,0.7);  
    }
    :-ms-input-placeholder- {  
       color: rgba(0,0,0,0.7);  
    }
  }
}
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
.login-form {
  /* //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3); */
  background: #333;
  position: fixed;
  top: 30%;
  left: 50%;
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: 10px;
  z-index: 999;
  box-shadow: 0px 0px 20px #999;
  /* display: none; */
   /*  display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    CSS3
        -moz-box-shadow: 0px 0px 20px #999;
    Firefox
        -webkit-box-shadow: 0px 0px 20px #999;
    Safari, Chrome
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    Firefox
        -webkit-border-radius: 3px;
    Safari, Chrome; */
}
.login-text {
  /* //background: hsl(40,30,60);
  //border-bottom: .5rem solid white; */
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  /* text-shadow: 1px -1px 0 rgba(0,0,0,0.3); */
  .fa-stack-1x {
    color: black;
  }
}

.login-forgot-pass:hover{
	font-weight: bold;
	color: white;
}
.login-submit:hover {
	font-weight: bold;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.login-forgot-pass {
  /* //border-bottom: 1px solid white; */
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  text-align: center;
  //text-decoration: none;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}
.login-submit {
	cursor: pointer;
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}




/* [class*=underlay] {
  min-height: 50%;
  min-width: 50%;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: url('https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg');
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  } */
}