<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>productform</title>
</head>
<body>
<h1>납품 주문 양식</h1>
<form>
	<fieldset>
	<legend>납품자정보</legend>
	<ol>
		<li>
			<label for="name">납품자명 : </label>
			<input type="text" placeholder="name" 
			id="name" name="name" required>
		</li>
		<li>
			<label for="email">이메일 : </label>
			<input type="email" id="email" name="email"
			placeholder="answer@kh.org" required>
		</li>
		<li>
			<label for="website">홈페이지 : </label>
			<input type="url" id="website" name="website" 
			placeholder="http://" required>
		</li>
	</ol>
	</fieldset>
	<fieldset>
	<legend>납품정보</legend>
	<ul>
		<li>
			<label for="irum">상품명 : </label>
			<input type="text" id="irum" name="irum" 
			list="goodlist">
			<datalist id="goodlist">
				<option value="dog1004">도그1004</option>
				<option value="catchicken">고양이치킨</option>
				<option value="milk">우유</option>
			</datalist>
		</li>
		<li>
			<label>납품수량 : </label>
			<input type="number" id="number" name="quantity"
			 min="10" max="100" step="10" placeholder="최소10이상">
		</li>
		<li>
			<label for="level">납품등급 : </label>
			<input type="range" id="level" name="level" 
			min="0" max="10" step="2">
		</li>
		<li>
			<label for="message">기타사항 : </label>
			<textarea rows="3" cols="30" id="message" name="message"></textarea>
		</li>
	</ul>
	</fieldset>
	<input type="submit" value="주문하기">

</form>
	




</body>
</html>








