<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testSimentics</title>
</head>
<body>
<header>
<h1>시멘틱 태그 연습 페이지</h1>
</header>
<hr>
<section>
문서의 구역을 지정하는 <mark>시멘틱</mark> 태그<p/>
<figure>
	<img src="../resources/images/flower2.jpg" width="150" height="100" border="0">
	<img src="../resources/images/flower3.jpg" width="150" height="100" border="0">
	<img src="../resources/images/flower4.jpg" width="150" height="100" border="0">
	<figcaption>
	<b>산굼부리의 가을</b> - 단풍 든 담쟁이, 바랍 가득한 억새바다, 그리고 의샛깃
	
	</figcaption>
</figure>
</section>
line<p/>
line<p/>
line<p/>
line<p/>
line<p/>
line<p/>
line<p/>
<hr>
<footer>
<center>
	copyright@kh.org &nbsp; 2019-02-01 제작자 : 홍길동<br>
	대표전화 : 02-1234-5678, fax : 02-1234-5555
</center>
</footer>

</body>
</html>