<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias type="member.model.vo.Member" alias="Member" />
		<typeAlias type="notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="board.model.vo.Board" alias="Board" />
	</typeAliases>
	<environments default="development">
		<environment id="mysqldevelop">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/world" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="student" />
				<property name="password" value="student" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- 쿼리문 저장용 매퍼 xml 파일 등록 : 필수 -->
	<!-- 주의 : 등록된 매퍼 파일 안의 쿼리문 오류가 있으면 
	    톰켓 실행 안 됨.  config 파일도 오류로 처리됨. -->
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
	</mappers>
</configuration>












