<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>event</title>
<style type="text/css">
.reverse {
	background: black;
	color: white
}

div {
	background: ivory;
}
</style>
<script type="text/javascript"
	src="/testq/resources/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("h1").hover(function() {
			//mouseenter 동작 처리용 이벤트 콜백함수
			//대상 위에 마우스 커서 갖다 대었을 때
			$(this).addClass("reverse");
		}, function() {
			//mouseleave 동작 처리용 이벤트 콜백 함수
			//대상에서 마우스 커서를 밖으로 빼내었을 때를 의미함
			$(this).removeClass("reverse");
		});
		/* $("body").bind("mousemove",function(event){
			console.log("pageX : " + event.pageX + 
					", pageY : " + event.pageY);
		}); */

		//이벤트 강제 발생 : trigger() 사용
		$("h3").click(function() {
			$(this).html($(this).html() + "★");
		});
		/* setInterval(function(){
			$("h3").last().trigger("click");
		},1000); */

		//이벤트 제거 : event.preventDefault()
		//$("h4 > a").on("click", function(event){
		$("a").click(function(event) {
			$(this).css("background", "blue");
			console.log("h4 > a clicked...");
			event.preventDefault(); //이벤트 제거
			//event.stopPropagation();  
			return false;
		});

		//child 가 클릭되면, parent로 이벤트가 전달됨
		//이벤트 전달 막음 : event.stopPropagation
		$("h4").click(function() {
			console.log("h4 clicked...")
		});

		//이벤트 연결 처리
		$("#wrap h1").on("click", function() {
			var h1Length = $("#wrap h1").length;
			var h1Text = $("#wrap h1").html();
			$("#wrap").append("<h1>"+h1Length+"-"+h1Text+"</h1>");
		});
		//mouseenter 와 mouseover의 차이
		//mouseenter : 밖에서 대상 위로 갈 때만 반응함
		$("#outer").on("mouseenter",function(){
			console.log("enter....");
		});
		
		//mouseover : 밖에서든 안에서든 대상 위에만 가면 반응
		
		$("#outer").on("mouseover",function(){
			console.log("over....");
		});
		
		$("textarea").on("keyup", function(){
			$("#count").html($("#count").html()-1);
		})
		
	}); //document ready
</script>
</head>
<body>
<div>
	<h1>Header-0</h1>
	<h1>Header-1</h1>
	<h1>Header-2</h1>
	<br>
	<h2>이벤트 연결 방법</h2>
	<br>
	첫번째, $("선택자").이벤트명(function([event]){이벤트 발생시 처리내용});<br>
	<br>
	두번째, $("선택자").bind("이벤트명", function([event]){이벤트 발생시 처리내용});<br>
	<br>
	세번째, $("부모선택자").deligate("실제대상선택","이벤트명",
	function([event]){ 이벤트 발생시 처리내용 });<br>
	<br>
	네번째, $("선택자").live("이벤트명", function([event]){
	 이벤트 발생시 처리내용 }); <br>
	jquery 1.7부터 deprecated 됨<br>
	<br>
	다섯번째, $("선택자").on("이벤트명", function([event]){ 이벤트 발생시 처리내용 }); <br>
	<br>
	<h2>이벤트 발생 횟수 조정</h2>
	one() : 이벤트가 딱 한번 작동되게 함<br>
	toggle() : 이벤트 작동시 on 되었다가, off되었다가 하게 함.
</div>
	<hr>
	<h3>start 1:</h3>
	<h3>start 2:</h3>
	<hr>
	<h4
		style="border: 1px solid black; width: 600px; height: 100px; padding: 20px;">
		<a href="#" style="border: 1px solid red;">이동</a>
	</h4>
	<hr>
	<div id="wrap">
		<h1>Header</h1>
	</div>
<hr>
<center>
<div id="outer" style="width:200px;height:200px;border:1px solid blue;background:orange;padding:50px;">
	<div id="inner" style="width:100%;height:100%;background:pink;border:1px solid green;"></div>
</div>
</center>
<h1 id="count">150</h1>
<textarea cols="70" rows="5"></textarea>
<br>
<hr>
<!-- 입력양식 이벤트 확인용 -->
<form id="loginform">
아이디 : <input type="text" name="userid" id="userid" required><br>
암 호 : <input type="password" name="userpwd" id="userpwd" required><br>
<input type="submit" value="로그인">
</form>
<script type="text/javascript">
	$(function(){
		//form 에 사용되는 submit 이벤트는 주로 
		//전송할 값의 유효성 검사를 위해 사용됨
		$("#loginform").on("submit",function(event){
			var userid = $("#userid").val();
			var userpwd = $("#userpwd").val();
			
			if(!(userid.length >= 12 && userid.length <= 15)){
				alert("아이디는 12글자이상 15글자이하여야 합니다.");
				$("#userid").select();
				//return false;	//이벤트 발생을 취소함
				//또는 발생한 이벤트를 제거함
				event.preventDefault();
			}
			if(!(userpwd.length >=12 && userpwd.length <= 15)){
				alert("암호도 12글자이상 15글자이하여야 합니다.");
				$("#userpwd").select();
				event.preventDefault();
			}
			//change 이벤트 :
			//checkbox, radio, select, input 의 값이 변경되었을 때
			$("#all").on("change", function(){
				if(this.checked == true){
					$("#items input[type=checkbox]").attr("checked", true);
				}else{
					$("#items input[type=checkbox]").attr("checked", false);
				}
			});			
		});		
	})
</script>
<hr>
<input type="checkbox" id="all"> 전체 선택 <br><br>
<div id="items">
	<input type="checkbox"> 항목1 <br>
	<input type="checkbox"> 항목2 <br>
	<input type="checkbox"> 항목3 <br>
	<input type="checkbox"> 항목4 <br>
	<input type="checkbox"> 항목5 <br>
</div>


</body>
</html>