<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/testq/resources/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("button").click(function(){
			$("p").remove(".test, .demo");
		})
	});
</script>
<style>
.test{
	color: red;
	font-size: 20px;
}
.demo{
	color: green;
	font-size: 25px;
}
</style>
</head>
<body>
<p>This is a paragraph.</p>
<p class="test">This is another</p>
<p class="test">This is another</p>
<p class="demo">This is a</p>
<button>Remove all p elements with class="test"</button>
</body>
</html>