<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testCss3_2</title>
	<link rel="stylesheet" type="text/css" href="/testc/resources/css/sample_2.css">
</head>
<body>
<h2>CSS3 : 배경색 그라데이션 적용</h2>
<div class="grad1">선형 그라데이션 적용1</div> <br>
<div class="grad2">선형 그라데이션 적용2</div> <br>
<div class="grad3">원형 그라데이션 적용1</div> <br>
<div class="grad4">원형 그라데이션 적용2</div> <br>
<div id="bg1">배경 이미지를 div 크기의 90%로 지정</div>
<div id="bg2">배경 이미지를 가로 100px, 세로 80px로 지정</div>

<div class="opa1">
	<br><br>
	<h1 id="noopa">HTML5 & CSS3</h1>
</div>
<div class="opa2">
	<br><br>
	<h1 id="yesopa">HTML5 & CSS3</h1>
</div>
<div class="opa2">
	<br><br>
	<h1 id="rgba">HTML5 & CSS3</h1>
</div>
</body>
</html>
