<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testCss3_selector</title>
<link rel="stylesheet" type="text/css" href="/testc/resources/css/sample_4.css">
</head>
<body>
<h1>CSS3 selector test</h1>
<img src="/testc/resources/images/ph1_s.jpg" width="115" height="77" border="0"><br>
<img src="/testc/resources/images/ph2.jpg" width="115" height="77" border="0"><br>
<img src="/testc/resources/images/ph3_s.jpg" width="115" height="77" border="0"><br>
<img src="/testc/resources/images/ph6.jpg" width="115" height="77" border="0"><br>
<hr>
<h2>css3 선택을 위한 슈도클래스 사용 연습</h2>
<ol>
	<li>1</li>
	<li>2</li>
	<li>3</li>
	<li>4</li>
	<li>5</li>
	<li>6</li>
	<li>7</li>
	<li>8</li>
</ol>
<hr style="clear:both;">
<div class="mcol">
HTML5는 HTML의 완전한 5번째 버전으로 월드 와이드 웹 (World Wide Web)의 핵심 마크업 언어이다. 2004년 7월 Web Hypertext Application Technology Working Group(WHATWG)에서 웹 애플리케이션 1.0이라는 이름으로 세부 명세 작업을 시작하였다.

HTML5는 HTML 4.01, XHTML 1.0, DOM 레벨 2 HTML에 대한 차기 표준 제안이다. 비디오, 오디오 등 다양한 부가기능과 최신 멀티미디어 콘텐츠를 액티브X 없이 브라우저에서 쉽게 볼 수 있게 하는 것을 목적으로 한다.

W3C는 2014년 10월 28일 HTML5 표준안을 확정했다고 발표했다.

이후 2016년 11월 1일 HTML5의 마이너 업데이트 버전인 HTML5.1 표준안을 확정, 2017년 12월 14일 HTML5.2 표준안을 확정했다. HTML5.3 표준안은 현재 작업 초안 단계로 진행 중이다.


목차
1	HTML4와의 차이점
2	일정 및 역사
3	브라우저 지원 현황
4	HTML5 기반 암호화 표준화 진행
5	같이 보기
6	각주
7	외부 링크
HTML4와의 차이점
요소 추가
구조적인 요소 - 구역을 나누는 블록 요소인 div 요소를 대신한다.
header
nav
article
section
aside
footer
멀티미디어 요소 - 플러그인 없이 멀티미디어를 재생할 수 있게 한다.
audio - 오디오를 재생한다.
video - 비디오를 재생한다.
canvas
command
datalist
details
embed
figure
figcaption
요소 의미 변경
em
hr
문서 선언 - <!DOCTYPE html>으로 간소화 되었다.(대소문자 구별 안함)
요소 제거
비슷한 기능의 다른 태그로 대체 가능한 태그들 - acronym, applet, dir, isindex
디자인적인 기능 이상의 의미가 없어 삭제 (CSS로 대체 가능한 태그들) - basefont, big, center, font, strike, tt
웹 접근성 향상을 위해 사용을 지양하는 태그들 - frame, frameset, noframes
일정 및 역사
2007년 5월 HTML5와 Web Forums 2.0 스펙 채택 - 리뷰 기반으로
2007년 11월 HTML5 디자인 원칙 작업 초안
2010년 1월 HTML5 Last Call 작업 초안
2010년 8월 HTML5 Working Draft 공개
수정된 HTML 5.0 개발 일정

CR(Candidate Recommendation): 2012년 4분기
LCf: 2014년 3분기
PR(Proposed Recommendation): 2014년 4분기
Rec(Recommendation): 2014년 4분기
HTML5.1 개발 일정

FPWD(First Publication Working DrafT): 2012년 4분기
LC(Working Draft Last Call): 2014년 3분기
CR(Candidate Recommendation): 2015년 1분기
Rec(Recommendation): 2016년 4분기
</div>
</body>
</html>