<!doctype html>
<html lang="ko"> 
<head> 
	<meta charset="utf-8"> 
	<title>html5! css3!</title> 
	<link rel="stylesheet" href="/testc/resources/css/make1.css" type="text/css"> 
</head>
<body>
<div class="mission_a">
	<h1><a href="#">웹표준 2.0</a>www.kosta.or.kr</h1>
</div>
<div class="mission_b">
	<img src="/testc/resources/images/qr.jpg">
</div>
<div class="mission_c">
	<ul>
		<li class="ab"><a href="#">HTML5 and CSS3</a></li>
		<li class="ac"><a href="#">HTML5 and CSS3</a></li>
		<li class="ad"><a href="#">HTML5 and CSS3</a></li>
		<li class="ae"><a href="#">HTML5 and CSS3</a></li>
		<li class="af"><a href="#">HTML5 and CSS3</a></li>
		<li class="ag"><a href="#">HTML5 and CSS3</a></li>
	</ul>
</div>
</body> 
</html>