<!doctype html>
	<html>
		<head>
	<meta charset="utf-8">
		<title>html5! css3!</title>
  <link rel="stylesheet" href="/testc/resources/css/make2.css">
</head>

<body>
<header>
	<nav>
		<ul>
			<li><a href="#">a_menu</a></li>
			<li><a href="#">menu</a></li>
			<li><a href="#">menubbb</a></li>
			<li><a href="#">menu1</a></li>
			<li><a href="#">menu567890</a></li>
		</ul>
	</nav>
</header>
<div id="main">
	<div id="main_a">
		<p>HTML5 & CSS3<a href="#">p>HTML5 & CSS3 p> HTML5 & CSS3</a> p>HTML5 & CSS3</p>
	</div>
	<section id="minaver">
		<section id="minaver_a">
			<section id="minaver_b"></section>
		</section>
		<section id="minaver_c">
		</section>
	</section>
</div>
</body>
</html>