<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page_1</title>
</head>
<body>
html 태그 연습1 : 글자 관련 태그<br>
<font size="1" color="red" face="바탕"><b>글자1</b></font><br>
<font size="2" color="#3366cc" face="굴림"><i>글자2</i></font><br>
<font size="3" color="#ff66ff" face="궁서"><u><t>글자3</t></u></font><br>
<font size="4" color="#3366ff" face="돋움">글자4</font><br>
<font size="5" color="#000099"><sub><big>글자5</big></sub></font><br>
<font size="6" color="#000066"><sup><strike>글자6</strike></sup></font><br>
<font size="7" color="#981f3a"><small>글자7</small></font><br>
</body>
</html>