<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testVideo</title>
</head>
<body>
<h1>video 태그 테스트</h1>
<hr>
<!-- <video src="../resources/multi/video1.mp4" width="500" 
height="400" controls loop="1" autoplay 
poster="../resources/images/flower1.jpg"></video> -->
<!-- 모든 브라우저에서 재생 가능한 동영상이 되려면... -->
<video width="500" height="400" controls autoplay loop="1"
poster="../resources/images/flower1.jpg">
	<source src="../resources/multi/video1.mp4" type="video/mp4">
	<source src="../resources/multi/video1.ogv" type="video/ogv">
	<source src="../resources/multi/video1.webm" type="video/webm">
</video>
</body>
</html>












