<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page_1</title>
</head>
<body>
html 태그 연습1 : 글자 관련 태그<br>
<font size="1" color="red" face="바탕"><b>글자1</b>비교</font><br>
<font size="2" color="navy" face="굴림"><i>글자2</i></font><br>
<font size="3" color="#6600ff" face="궁서"><u>글자3</u></font><br>
<font size="4" color="#009900" face="돋움">글자4</font><br>
<font size="5" color="#7d1386">비교<small>글자</small><sub>5</sub></font><br>
<font size="6" color="#ff6600">비교<big>글자</big><sup>6</sup></font><br>
<font size="7" color="#00ccff" face="궁서체"><strike>글자7</strike></font><br>
</body>
</html>



