<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page_4</title>
</head>
<body>
<h2>링크 관련 태그 : a (anchor 의 줄임말)</h2>
<h4>속성(attribute)</h4>
<ol>
	<li>href="연결할페이지파일명/웹사이트url" : 필수 속성임.</li>
	<li>name="위치이름" : 페이지에 북마크 표시할 때 사용</li>
	<li>target="프레임이름/윈도우이름" : 연결한 페이지 출력창</li>
	<li>title="링크에 대한 설명"</li>	
</ol>
<hr>
<ul>
	<li><a href="page_1.html">글자로 다른 페이지 연결</a></li>
	<li>그림으로 다른 페이지 연결
		<a href="https://ko-kr.facebook.com/FacebookKorea/">
			<img src="../resources/images/facebook.jpg">
		</a>
	</li>
	<li>웹사이트 연결
		<a href="http://www.oracle.com">오라클</a>
	</li>
	<li><a href="#bottom">북마크 표시한 위치로 화면이동</a></li>
	<!-- 화면이동시에는 "#이름" 으로 입력함 -->
</ul>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>
line<p>


<a name="bottom">아래쪽 북마크 표시한 위치</a>
</body>
</html>







